header,
main,
footer {
background-color: rgb(125, 199, 126);
}
/*this centered the nav bar*/
.container {
    display: flex;
    justify-content: center;
}
/*this aligned images 1-4. without it 4 will wrap*/
.relative {
    display: flex;
}
header div {
display: flex;
align-items: center;
gap: 1rem;
}
li {
list-style: none;
}
h1 {
font-size: 3em;
font-weight: 600;
font-style: normal;
}
h2 {
font-size: 1.5em;
justify-content: center;
}
nav ul {
display: flex;
gap: 3rem;
}
li a {
text-decoration: none;
color:azure;
text-transform: uppercase;
font-size: 1em;
font-weight:00;
background-color:rgb(13, 19, 184);
padding: 0.5rem;
border-radius: 0.5rem;
}
 li a:hover {
background-color:rgb(128, 0, 115);
}
main {
margin: 1rem 0;
padding: 1 rem;
display: flex;
column-gap: 1.5rem;
}
main section {
background-color:cornflowerblue;
padding: 0 1rem;
}
main section:first-child {
min-width: 50%;
}
main section:first-child img {
top: 0;
left: 0;
width: 170px;
height: 170px;
transition: opacity 0.5s ease-in-out;
padding: 0 0.8em
}
#hero {
    background-size: cover;
    background-position: center;
}
#hero {
    background-image: url("./images/pic7.jpg");
    height: 20vh;
}


footer {
padding: 1rem 0.5rem;
}





